/* Estilos para la página de Conoce-lactacyd */



#content-main{
	background-image: url('../img/inicio-fondo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#valla{
	background-image:url('../img/conocenos-botellas.png'),url(../img/conocenos-vaya.png);
	background-repeat: no-repeat;
	background-position: 5% center, right center;
	max-width: 1600px;
	margin:0 auto;
}

.fondos-vaya{
	
	padding: 1px;

}

.conocenos-text-block {
	
    width: 650px;
    height: 400px;
    margin: 220px 0px 216px auto;
	
}

	.conocenos-text-block h1{
		font:700 33px 'HelveticaN';
		color:#fff;
		text-align:center;
		text-transform:uppercase;
		margin-bottom: 30px;
	}
	.conocenos-text-block p{
		font:400 25px 'HelveticaN';
		color:#fff;
		text-align:left;
		margin-bottom: 25px;
	}




@media(max-width: 1550px){
	#valla{width: 1400px;}
	.conocenos-text-block{
		margin-right: 83px;
	}
}
@media(max-width: 1440px){
	#valla{
		width: 1280px;
		background-size: 420px auto,auto;
		background-position: 5% 88%, right center;
	}
	.conocenos-text-block{
		margin:150px 125px 160px auto;
	}
}

@media(max-width: 1319px){
	#valla{
		width: 1170px;
		background-position: 5% bottom, right center;
		background-size: 360px auto,auto;
	}
	.conocenos-text-block{
		margin:115px 120px 157px auto;
	}
}
@media(max-width: 1199px){
	.conocenos-text-block{margin-right: 5px;}
}
