/* Estilos para la página de lactacyd siempre conmigo */



#content-main{
	background-image: url('../img/inicio-fondo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#valla{
	background-image:url('../img/producto-botellas.png'),url(../img/producto-valla.png);
	background-repeat: no-repeat;
	background-position: 14% center, 87% 0;
	max-width: 1600px;
	margin:0 auto;
}

.fondos-vaya{
	
	padding: 1px;

}

.producto-text-block {
	
    width: 461px;
    /*height: 400px;*/
    margin: 125px 70px 222px auto;
	
}


	.producto-text-block p{
		font:400 22px 'HelveticaN';
		color:#fff;
		text-align:left;
		margin-bottom: 25px;
	}
	.producto-text-block img{
		vertical-align: middle;
	}

.producto-redes p{
	text-align: center;
}


@media(max-width: 1550px){
	#valla{width: 1400px;}
	.producto-text-block{margin: 125px 145px 160px auto;}
}
@media(max-width: 1440px){
	#valla{
		width: 1280px;
		
		background-position:0% 88%, right top;
	}
	.producto-text-block{
		margin:125px 110px 160px auto;
	}
}

@media(max-width: 1319px){
	#valla{
		width: 1170px;
		background-size: 500px,auto;
	}
	
}
@media(max-width: 1199px){
	#valla{
		width: 940px;
		background-size: 375px,auto;
	}

}
@media(max-width: 959px){
		#valla{
			width: 728px;
			background-size:250px auto,90% auto;
			background-position: 0% bottom, right top;
		}
		.producto-text-block{
			margin: 108px 100px 150px auto;
			width: 390px;
		}
		.producto-text-block p{font-size: 18px;margin-bottom: 20px;}
	}

@media(max-width: 767px){
	#content-main{
		background-image: url('../img/conocenos_m-fondo.jpg');
		background-position: center bottom;
	}
	#valla{ 
		width: 100%;
	    background-image: url(../img/conocenos-botellas.png),url(../img/conocenos_m-vaya.png);
	    background-size: 490px auto, auto;
	    background-position: center 94%, center top;
	}

	.producto-text-block{
		margin: 110px auto 713px auto;
	    width: 359px;
	    height: 360px;
	}
	.producto-text-block p{
	    font-size: 17px;
    	margin-bottom: 20px;
	}
}

@media(max-width: 500px){

	#valla{background-size: 300px auto, 540px auto;}
	.producto-text-block{
		margin: 88px auto 400px auto;
	    width: 288px;
	    height: 435px;
	    padding: 0 15px;
	}
	.producto-text-block p{font-size: 16px;margin-bottom: 10px;}
	
	
}