
@font-face{
	src:url('../fonts/BreePeru_Regular.otf');
	font-family: 'BreePeru';
	font-weight: 400;
}
@font-face{
	src:url('../fonts/BreePeru_Bold.otf');
	font-family: 'BreePeru';
	font-weight: 700;
}
@font-face{
	src:url('../fonts/HelveticaNeueLTStd-It.otf');
	font-family: 'HelveticaN';
	font-weight: 400;
}
@font-face{
	src:url('../fonts/HelveticaNeueLTStd-BdIt.otf');
	font-family: 'HelveticaN';
	font-weight: 700;
}
@font-face{
	src:url('../fonts/HelveticaNeueLTStd-LtIt.otf');
	font-family: 'HelveticaN';
	font-weight: 300;
}

*{
	margin: 0;
	padding: 0;
	font-size: inherit;
	box-sizing:border-box;
}
html{font-size: 14px;}


wrapper-strech{
	width: 100%;
	padding: 0 25px;
}
.wrapper{
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
}

	@media(max-width: 1320px){
		.wrapper{
			max-width: 1260px;
		}
	}
	@media(max-width: 1279px){
		.wrapper{
			max-width: 1170px;
		}
	}
	@media(max-width: 1199px){
		.wrapper{
			max-width: 940px;
		}
	}
	@media(max-width: 959px){
		.wrapper{
			max-width: 728px;
		}
	}



#topbar{
	background-color: #fff;
	padding: 0 30px;
}

.logo-sanofi{
	text-align: right;
}
/*==== header =====*/

	header{
		padding-bottom: 5px;
	}

	/*  Menú principal  */

	.top-mensaje{
		text-align: right;
		color: #485ea3;
		font:700 13px 'Arial';
		margin-bottom: 15px;
		padding: 0 30px;
	}

	

	.menu-item{text-align: center;}
	.menu-item a{
				text-decoration: none;
				font:inherit;
				color: inherit;
	}

	.header-menu{
		list-style: none;
		display: inline-block;
		vertical-align: middle;
	}

		.header-menu .menu-item{
			display: inline-block;
			font:400 23px 'BreePeru';
			color: #fff;
			margin-right: 20px;
		}
			.header-menu .menu-item:last-child{margin-right: 0px}

			.header-menu .menu-item a{
				display: block;
				padding: 15px 15px;
			}

			.header-menu .menu-item{
				background-repeat: no-repeat;
				background-position: top left,bottom right;
			}
			#menu-inicio.active,#menu-inicio:hover {
				background-image:url('../img/menu-inicio-top.png'),url('../img/menu-inicio-bot.png');
			}
			#menu-conoce.active,#menu-conoce:hover {
				background-image:url('../img/menu-conocenos-top.png'),url('../img/menu-conocenos-bot.png');
			}
			#menu-siempre.active,#menu-siempre:hover {
				background-image:url('../img/menu-producto-top.png'),url('../img/menu-producto-bot.png');
			}
			#menu-participa.active,#menu-participa:hover {
				background-image:url('../img/menu-participa-top.png'),url('../img/menu-participa-bot.png');
			}

	.logo{
		display: inline-block;
		vertical-align: middle;
		margin-left: 30px;
	}
		.logo img{
			max-width: 100%;
			margin: 0 auto;
			display: block;
		}

	@media(max-width: 1320px){
		.logo{margin-left: 5px;}
	}
	@media(max-width: 1279px){
		.header-menu .menu-item{margin-right: 5px;}
		.header-menu .menu-item a{padding:15px 10px;}

		.logo{width: 210px;}
	}
	@media(max-width: 1199px){
		.logo{width: 158px;}
		.header-menu .menu-item{font-size: 18px;}
		
	}
	@media(max-width: 959px){
		#navegacion{ 
			display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
		   	display: -moz-box;      /* OLD: Firefox (buggy) */
		   	display: -o-box;
		   	display: -ms-flexbox;   /* MID: IE 10 */
		   	display: -webkit-flex;  /* NEW, Chrome 21+ */
		   	display: flex;
		   	flex-flow: column-reverse;
   		}
   		.logo{
   			width: 100%;
   			margin-left: 0px;
   		}	
		.header-menu .menu-item a{
			padding:15px 6px;
		}
		.header-menu .menu-item{margin-right: 3px;}
	}

/*======== Foot =========*/

	footer{
		background-color: rgba(140,81,150,0.7);
		padding-top: 16px;
		padding-bottom: 22px;
	}

	/* Menu footer */

	.f-menu{

	}
		.line-menu{
			list-style: none;
			text-align: center;
		}
		.line-menu .menu-item{
			display: inline-block;
			font:700 16px 'Arial';
			color:#fff;
			margin-right: 20px;
			border-right: 1px solid #fff;
			padding: 2px 20px;
		}
		.line-menu .menu-item:last-child{margin-right: 0px;border-right: none;}
			
			.line-menu .menu-item a{
				
			}


	.f-advertencia{
		font:300 16px 'Arial';
		color: #fff;
		text-align: justify;
		padding-bottom: 20px;
	}
	.f-fecha{
		font:300 19px 'Arial';
		color: #fff;
		text-align: center;
		padding-bottom: 20px;
	}