
@font-face{
	src:url('../fonts/BreePeru_Regular.otf');
	font-family: 'BreePeru';
	font-weight: 400;
}
@font-face{
	src:url('../fonts/BreePeru_Bold.otf');
	font-family: 'BreePeru';
	font-weight: 700;
}
@font-face{
	src:url('../fonts/HelveticaNeueLTStd-It.otf');
	font-family: 'HelveticaN';
	font-weight: 400;
}
@font-face{
	src:url('../fonts/HelveticaNeueLTStd-MdIt.otf');
	font-family: 'HelveticaN';
	font-weight: 500;
}
@font-face{
	src:url('../fonts/HelveticaNeueLTStd-BdIt.otf');
	font-family: 'HelveticaN';
	font-weight: 700;
}
@font-face{
	src:url('../fonts/HelveticaNeueLTStd-LtIt.otf');
	font-family: 'HelveticaN';
	font-weight: 300;
}

*{
	margin: 0;
	padding: 0;
	font-size: inherit;
	box-sizing:border-box;
}
html{font-size: 14px;}


.wrapper-strech{
	width: 100%;
	padding: 0 25px;
}
.wrapper{
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
}

	@media(max-width: 1320px){
		.wrapper{
			max-width: 1260px;
		}
	}
	@media(max-width: 1279px){
		.wrapper{
			max-width: 1170px;
		}
	}
	@media(max-width: 1199px){
		.wrapper{
			max-width: 940px;
		}
	}
	@media(max-width: 959px){
		.wrapper{
			max-width: 728px;
		}
	}
	@media(max-width: 767px){
		.wrapper{
			max-width: 100%;
			padding:0 15px;
		}
	}



#topbar{
	background-color: #fff;
	
}

.logo-sanofi{
	text-align: right;
}
/*==== header =====*/

	header{
		padding-bottom: 5px;
	}

	/*  Menú principal  */

	.top-mensaje{
		text-align: right;
		color: #485ea3;
		font:700 13px 'Arial';
		margin-bottom: 15px;
		
	}

	.menu-movil-trigger,#header-menu-movil{display: none;}


	.menu-item{text-align: center;}
	.menu-item a{
				text-decoration: none;
				font:inherit;
				color: inherit;
	}

	.header-menu{
		list-style: none;
		display: inline-block;
		vertical-align: middle;
	}

		.header-menu .menu-item{
			display: inline-block;
			font:400 23px 'BreePeru';
			color: #fff;
			margin-right: 20px;
		}
			.header-menu .menu-item:last-child{margin-right: 0px}

			.header-menu .menu-item a{
				display: block;
				padding: 15px 15px;
			}

			.header-menu .menu-item{
				background-repeat: no-repeat;
				background-position: top left,bottom right;
			}
			#menu-inicio.active,#menu-inicio:hover {
				background-image:url('../img/menu-inicio-top.png'),url('../img/menu-inicio-bot.png');
			}
			#menu-conoce.active,#menu-conoce:hover {
				background-image:url('../img/menu-conocenos-top.png'),url('../img/menu-conocenos-bot.png');
			}
			#menu-siempre.active,#menu-siempre:hover {
				background-image:url('../img/menu-producto-top.png'),url('../img/menu-producto-bot.png');
			}
			#menu-participa.active,#menu-participa:hover {
				background-image:url('../img/menu-participa-top.png'),url('../img/menu-participa-bot.png');
			}

	.logo{
		display: inline-block;
		vertical-align: middle;
		margin-left: 180px;
	}
		.logo img{
			max-width: 100%;
			margin: 0 auto;
			display: block;
		}

	@media(max-width: 1320px){
		.logo{margin-left: 130px;}
	}
	@media(max-width: 1279px){
		.header-menu .menu-item{margin-right: 5px;}
		.header-menu .menu-item a{padding:15px 10px;}

		.logo{width: 210px;}
	}
	@media(max-width: 1199px){
		.logo{width: 158px;}
		.header-menu .menu-item{font-size: 18px;}
		
	}
	@media(max-width: 959px){
		#navegacion{ 
			
   		}
   		.logo{
   			width: 150px;
   			margin-left: 4px;
   		}	
		.header-menu .menu-item a{
			padding:15px 6px;
		}
		.header-menu .menu-item{margin-right: 3px;}
	}

/*======== Foot =========*/

	footer{
		background-color: rgba(140,81,150,0.7);
		padding-top: 16px;
		padding-bottom: 22px;
	}

	/* Menu footer */

	.f-menu{

	}
		.line-menu{
			list-style: none;
			text-align: center;
		}
		.line-menu .menu-item{
			display: inline-block;
			font:700 17px 'Arial';
			color:#fff;
			margin-right: 20px;
			border-right: 1px solid #fff;
			padding: 2px 20px;
		}
		.line-menu .menu-item:last-child{margin-right: 0px;border-right: none;}
			
			.line-menu .menu-item a{
				
			}


	.f-advertencia{
		font:300 16px 'Arial';
		color: #fff;
		text-align: justify;
		padding-bottom: 20px;
	}
	.f-fecha{
		font:300 19px 'Arial';
		color: #fff;
		text-align: center;
		padding-bottom: 20px;
	}


@media(max-width:767px){

	#topbar img{height: 23px;}
	.top-mensaje{font-size: 12px;}

	.logo{
   			width: 100%;
   			display: block;
   			margin:0 auto;
   		}	

	#header-menu{display: none;}
	/*  menu responsive */

	.line-menu .menu-item{
			border-right: 0px;
			margin: 0 6px;
			padding: 2px 4px;
			
		}

	.menu-movil-trigger{
		display: block;
		position: absolute;
		color: #000000;
		top:45px;
		left:20px;
		font-size: 25px;
	}

	.menu-movil{
		display: none;
		position:absolute;
		top:75px;
		background-color: #000;
	}
	.menu-movil .menu-item{
		display: block;
		background-image: none !important;
		margin-right: 0px;
	}
		.menu-movil .menu-item.active,.menu-movil .menu-item:hover{
			background-image: none;
			background-color:#444; 
		}

	.f-advertencia{font-size: 14px}
	.f-fecha{font-size: 16px;	}
}

@media(max-width:419px){
	.f-advertencia{font-size: 12px;padding-bottom: 10px;}
	.f-fecha{font-size: 14px;padding-bottom: 10px;	}
	#valla .valla-contenido-movil{margin: 40px auto 200px;}
	.line-menu .menu-item{
		margin: 0;
		font-size: 14px;
	}
}