/* Estilos para la página de participa y gana */







#content-main{
	background-image: 
	
	url('../img/inicio-fondo.jpg');
	background-size:  cover;
	background-repeat: no-repeat;
	background-position: center;
}


#valla{
	background-image:
	url(../img/participa-valla.png),
	url('../img/participa-bolso.png'),
	url('../img/participa-botella.png');
	background-size: auto, auto, auto;
	background-repeat: no-repeat;
	background-position: 44% top,right 60%,left 60%;
	max-width: 1600px;
	margin:0 auto;
	padding-top: 1px;
	padding-bottom: 1px;
}

.instrucciones{
	margin: 176px 240px 190px auto;
    width: 780px;
    height: 475px;
}

.instrucciones__titulo{
	padding-left: 80px;
}
.instrucciones__lista{
	padding-left: 80px;
	font:300 25px 'HelveticaN';
	color: #fff;
}

.instrucciones__lista__item{
	margin-bottom: 3px;
}

	.instrucciones__lista__item img{
		vertical-align: middle;
		margin-right: 5px;
	}


/* Paquetes row  */

.paquetes{
	padding-top: 35px;
}

.paquetes-row{
	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
   	display: -moz-box;      /* OLD: Firefox (buggy) */
   	display: -o-box;
   	display: -ms-flexbox;   /* MID: IE 10 */
   	display: -webkit-flex;  /* NEW, Chrome 21+ */
   	display: flex;
}

.paquetes-col{
	text-align: center;
	font:400 21px 'HelveticaN';
	color: #fff;
	width: 33.33%;
}
	.paquetes-col--relax{
		display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
	   	display: -moz-box;      /* OLD: Firefox (buggy) */
	   	display: -o-box;
	   	display: -ms-flexbox;   /* MID: IE 10 */
	   	display: -webkit-flex;  /* NEW, Chrome 21+ */
	   	display: flex;
	   	justify-content: center;
	}
	.paquetes-col img{
		display: block;
		margin:0 auto;
		
	}
	
	.paquetes-col--relax a{
		margin: auto auto;

	}

@media(max-width: 1550px){
	#valla{width: 1400px;}
	
}
@media(max-width: 1440px){
	#valla{
		width: 1280px;	
	}
	.instrucciones{margin:176px 210px 190px auto;}
	
}

@media(max-width: 1319px){
	#valla{
		width: 1170px;
	}
	.instrucciones{margin: 176px 150px 190px auto;}
}
@media(max-width: 1199px){
	#valla{
		width: 940px;
		background-size:100% auto,auto,auto;
	}
	.instrucciones{width: 660px;height: 410px;margin: 135px 105px 120px auto;}
	.instrucciones__titulo img{width: 450px;}
	.instrucciones__lista{font-size: 20px;}
	.instrucciones__lista__item img{width: 35px;}
	.instrucciones__lista__item a img{width: 280px;}
	.paquetes-col{font-size: 19px;}
	.paquetes{padding-top:15px;}


}
@media(max-width: 959px){
		#valla{
			width: 728px;
			background-size:100% auto,auto,auto;
			
		}
		.instrucciones {
		    width: 520px;
		    height: 320px;
		    margin: 110px 75px 80px auto;
		}
		.instrucciones__titulo {padding-left: 50px;}
		.instrucciones__titulo img { width: 350px;}
		.instrucciones__lista{
			padding-left: 50px;font-size: 18px;
		}
		.instrucciones__lista__item img {
		    width: 30px;
		}
		.paquetes {padding-top: 15px;}
		.paquetes-col{font-size: 18px;}
		.paquetes-col img{width: 95px;}
}


.cont-instrucciones{display: none;}
.cont-dni__titulo img{margin:0 auto;display: block;}
.cont-dni__texto {
	font: 500 21px 'HelveticaN';
	color: #fff;
	text-align: center;
	width: 505px;
	margin: 30px auto 0;
	
}
	.cont-dni__texto h2{
		font: 700 34px 'HelveticaN';
		color: #fff;
		text-align: center;
	}

	.cont-dni__cuadro{    padding-top: 10px;	}
	.cont-dni__cuadro label{
		font: 300 21px 'HelveticaN';
		color: #fff;
		display: block; text-align: center;
	}
	.cont-dni__cuadro #dni{
		font: 300 21px 'HelveticaN';
		color: #333;
		display: block;
		width: 220px;height: 41px;
		background-image: url('../img/dni-input-fondo.png');
		background-repeat: no-repeat;background-size: 100% 100%;
		margin: 0 auto;
		border:0;
		padding: 5px 2px;
	}
	.cont-dni__cuadro #dni-submit{
		background-image: url('../img/dni-input-fondo.png');
		background-repeat: repeat;
		margin: 0 auto;
		width: 154px;
		display: block;
		border: 2px solid #fff;
		border-radius: 20px;
		padding: 10px 34px;
	}

